<ion-header>
  <ion-toolbar>
    <ion-title>rumah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <img src="assets/images/keris.png" />
      <ion-card-content>
        <ion-card-title>
          Keris
        </ion-card-title>
        <p> Sulawesi Tenggara </p>
        <b> Literature & Fiction - {{ 5.99 | currency:'USD' }}</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/images/badik.png" />
      <ion-card-content>
        <ion-card-title>
          Badik
        </ion-card-title>
        <p> Sulawesi Barat </p>
        <b> Literature & Fiction - {{ 5.99 | currency:'USD' }}</b>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/images/kujang.png" />
      <ion-card-content>
        <ion-card-title>
          Kujang
        </ion-card-title>
        <p> Jawa Barat </p>
        <b> Literature & Fiction - {{ 5.99 | currency:'USD' }}</b>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
