<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-horizontal" *ngIf="userData">
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" size-sm="2">
        <ion-row class="ion-align-items-end ion-justify-content-end">
          <ion-fab-button color="primary" style="position: absolute; z-index: 1" (click)="presentImageActionSheet()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
          <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
          <ion-img src="assets/images/avatar.png" style="object-fit: contain; width: 100%;" *ngIf="!imageUrl"></ion-img>
          <img id="profilePicture" src="{{imageUrl}}" class="circle-image" *ngIf="imageUrl" (load)="imageLoaded()">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-text class="ion-text-center">
          <h2 class="text-bold ion-no-margin ion-margin-top">
            <b>{{userData.nama}}</b>
          </h2>
          <h4 class="ion-no-margin ion-padding-bottom">
            <b>{{userData.email}}</b>
          </h4>
        </ion-text>

         <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-button color="danger" expand="block" (click)="doLogout()">
              Logout
              </ion-button>
            </ion-col>
         </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

