<ion-content>
  <ion-tabs #tabs>
    <fiv-app-bar slot="bottom"  #bar>
      <fiv-fab [fivAppBarFab]="position" #fab>
        <fiv-icon name="flash"></fiv-icon>
      </fiv-fab>
  
      <fiv-app-bar-tab left tab="rumah">
        <fiv-icon name="home"></fiv-icon>
        <ion-label>Rumah</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab left tab="baju">
        <fiv-icon name="body"></fiv-icon>
        <ion-label>Baju</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="senjata">
        <fiv-icon name="hammer"></fiv-icon>
        <ion-label>Senjata</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="profile">
        <fiv-icon name="person"></fiv-icon>
        <ion-label>Profile</ion-label>
      </fiv-app-bar-tab>
    </fiv-app-bar>
  </ion-tabs>
</ion-content>
