<ion-content >
  <div class="ion-padding ion-margin-top">
    <form [formGroup]="signupform" (ngSubmit)="doSignup()" novalidate>
    <ion-row>
        <ion-col class="ion-padding-top ion-padding-bottom ion-margin-top" >
        <ion-list inset class="no-border">

          <!-- <ion-item>
            <ion-label position="floating">Nama Lengkap</ion-label>
            <ion-input type="text"  required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [formControl]="signupform.controls['useremail']" required></ion-input>
            <div *ngIf="signupform.controls['useremail'].dirty && !signupform.controls['useremail'].valid">
              <p *ngIf="signupform.controls['useremail'].errors.InvalidEmail">Please enter a valid email id</p>
            </div>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [formControl]="signupform.controls['useremail']" required></ion-input>
            <div *ngIf="signupform.controls['useremail'].dirty && !signupform.controls['useremail'].valid">
              <p *ngIf="signupform.controls['useremail'].errors.InvalidEmail">Please enter a valid email id</p>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [formControl]="signupform.controls['userpass']" required></ion-input>
            <div *ngIf="signupform.controls['userpass'].dirty && !signupform.controls['userpass'].valid">
              <p *ngIf="signupform.controls['userpass'].errors?.minlength">Password must be min 6 characters</p>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="login-button ripple-parent" type="submit" [disabled]="!signupform.valid">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-button expand="block" fill="clear" expand="full" [routerLink]="['/login']">Already have an account? Login Here</ion-button>
  </ion-toolbar>
</ion-footer>